/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background: #f0fff0;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.textbox {
    margin: 15px 0;
    position: relative;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #5eb947;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #4CAF50;
}

.register-link a:hover {
    text-decoration: underline;
}
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error, .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}
